nav {

}

.profile_box {
    width: 300px;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px 10px 10px 10px;
}

.top_text {
    font-family: HG創英角ｺﾞｼｯｸUB, system-ui;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bottom_text {
    font-family: HG創英角ｺﾞｼｯｸUB, system-ui;
    color: #b5b3b3;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box_parent {
    display: flex;
    justify-content: center;
}

.sub_profile_box {
    width: 300px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 10px 10px;
}

.sub_profile_box ul {
    font-family: "源真ゴシックP Medium", system-ui;
    padding-left: 0;
    margin-left: 10px;
    list-style-position: inside;
}

